<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
	<include path="~/Content/normalize.css" />
	<include path="~/Content/bootstrap.min.css" />
	<include path="~/Content/bootstrap-material-design.min.css" />
	<include path="~/Content/all.css" />
	<include path="~/Content/sweetalert2.min.css" />
	<include path="~/Content/jquery.mCustomScrollbar.css" />
	<include path="~/Content/style.css" />
	<include path="~/Content/Site.css" />
  </styleBundle>
</bundles>

